<br>
<h1 class="text-center color">CONFIGURAR ALARMA</h1>
<div class="row">
  <div class="col-sm-6">

    <div class="margen " style="width: 20%; margin-left: auto; margin-right: auto">
      <div class="margen">
        <p class="-align-leftl"> Laser: </p>
        <p-dropdown class="margen" [options]="arregloLaser" [(ngModel)]="laserSeleccionado" (onChange)="cambioLaser($event)"  ></p-dropdown>
      </div>

      <br>
      <div class="card" style="width: 18rem;" *ngIf="laser != undefined">
        <div class="card-body">
          <h5 class="card-title">Datos Laser</h5>
          <h6 class="ard-subtitle mb-2 text-muted">Nombre: {{laser.nombreLaser}}</h6>
          <h6 class="ard-subtitle mb-2 text-muted">Codigo: {{laser.codigoLaser}}</h6>
          <h6 class="ard-subtitle mb-2 text-muted">Estado: {{laser.estado}} </h6>
        </div>
      </div>

      <div class="cm-sm-6" style="margin-top: 6%" *ngIf="laser != undefined">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2">
          Crear Alarma
        </button>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    ALARMAS
    <div class="" *ngFor="let alarma of arregloAlarmas">
      {{alarma.horaInicio}}
      {{alarma.minutoInicio}}
      {{alarma.horaFin}}
      {{alarma.minutoFin}}
      {{alarma.estado}}
    </div>
  </div>
</div>

<!--<pre>Selected time: {{time | json}}</pre>-->

<!-- Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Crear Alarma</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <label for="estado">Estado</label>
        <br>
        <p-selectButton id="estado" [options]="estados" [(ngModel)]="estadoSeleccionado"></p-selectButton>

        <div class="row">
          <div class="col-sm-6">
            <div class="margen">
              <label for="inicio">Inicio</label>
              <ngb-timepicker id="inicio" [(ngModel)]="inicio"  [meridian]="meridian"></ngb-timepicker>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="margen">
              <label for="fin">Fin</label>
              <ngb-timepicker id="fin" [(ngModel)]="fin"  [meridian]="meridian"></ngb-timepicker>
            </div>
          </div>
        </div>




        <div class="" >
          <p>Dias: </p>
          <p-multiSelect [options]="arregloDias" [(ngModel)]="diasSeleccionado" [panelStyle]="{minWidth:'12em'}"></p-multiSelect>
          <p>Dias seleccionados: </p>
          <div class="" *ngFor="let dia of diasSeleccionado">
            {{dia.nombreDia}}
          </div>

        </div>


      </div>
      <div class="modal-footer text-center">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary"
        (click)="crearAlarma()">Crear</button>
      </div>
    </div>
  </div>
</div>
