<br>
<h1 class="text-center color">AGREGAR LASER</h1>
<div class="sm-row-12">
  <div class="sm-row-6">
    <div class="row" style="width: 20%; margin-left: auto; margin-right: auto; text-align: center">
      <p class="text-center margen">Lugar</p>
      <br>
      <p-dropdown class="margen" [options]="lugar1" [(ngModel)]="selectedLugar1"></p-dropdown>
      <br>
      <p class="text-center margen">Seccion</p>
      <br>
      <p-dropdown class="margen" [options]="Seccion" [(ngModel)]="selectedSeccion"></p-dropdown>

      <span class="ui-float-label margen" >
        <input id="id_laser" #textoCodigoLaser type="text" size="20" pInputText>
        <label for="id_laser">Codigo Laser</label>
      </span>
    </div>

  </div>
  <div class="sm-row-6">

  </div>
</div>




