
<br>

<div class="row" style="margin-top: 100px">
  <div class="sm-row-4" style="margin-left: 150px ; margin-right: 130px">
    <p-card title="Agregar nuevo laser"  [style]="{width: '250px'}" styleClass="ui-card-shadow">
      <p-header>
        <img src="Card" src="https://d1nhio0ox7pgb.cloudfront.net/_img/i_collection_png/256x256/plain/laser_pointer.png">
      </p-header>
      <div  style="width: 40%; margin-left: auto; margin-right: auto; text-align: center">
        <button pButton type="button" label="AgregarLaser"
        (click)="AgregarLaser()">
        </button>
      </div>
    </p-card>
  </div>
  <div class="sm-row-4" style="margin-right: 130px" >
    <p-card title="Configurar Horario"  [style]="{width: '250px'}" styleClass="ui-card-shadow">
      <p-header>
        <img src="Card" src="https://d30y9cdsu7xlg0.cloudfront.net/png/123953-200.png">
      </p-header>
      <div  style="width: 40%; margin-left: auto; margin-right: auto; text-align: center">
        <button pButton type="button" label="Configurar"
        (click)="ConfigurarAlarma()">
        </button>
      </div>
    </p-card>
  </div>
  <div class="sm-row-4">
    <p-card title="Ver Historial"  [style]="{width: '250px'}" styleClass="ui-card-shadow">
      <p-header>
        <img src="Card" src="https://png.icons8.com/ios/1600/order-history.png">
      </p-header>
      <div  style="width: 40%; margin-left: auto; margin-right: auto; text-align: center">
        <button pButton type="button" label="Ver">
        </button>
      </div>
    </p-card>
  </div>
</div>


