<app-encabezado></app-encabezado>
<br>

<h1 class="text-center color">RESTABLECER CONTRASEÑA</h1>
<br>
<p class="text-center">
  Pon tu dirección de correo electrónico que usaste para registrarte.
</p>
<p class="text-center">
  Te enviaremos un mensaje con tu nombre de usuario y un enlace para restablecer tu contraseña.
</p>

<div class="row" style="width: 22%; margin-left: auto; margin-right: auto; text-align: center">
    <span class="ui-float-label margen" >
    <input pInputText id="id_email" type="text" #textoEmail size="30">
    <label for="id_email">Email</label>
  </span>

</div>

<div class="text-center">
  <button  pButton type="button" label="Enviar"
           class="ui-button-success margen text-center"
           ></button>
</div>
